rem(px)
  return px/26rem
body {
  background-color #444
}
header {
  width 100%
}
.logo
  width 90%
  height rem(50)
  margin rem(20) auto
  position relative
  span
    position absolute
    top rem(18)
    left 0
    display block
    width rem(40)
    height rem(40)
    background url(../images/icon_17.png) no-repeat
  a
    position absolute
    top rem(18)
    right 0
    display block
    width rem(60)
    height rem(30)
    border 1px solid white
    border-radius rem(30)
    text-align center
    line-height rem(30)
    font-size rem(15)
    color white
  img
    width rem(68)
    height rem(40)

    margin rem(10) rem(150)
.login_username
  width rem(364)
  height rem(50)
  background-color #575757
  margin 0 auto
  margin-bottom .4rem
  border 1px solid #606060
  border-radius rem(5)
  p
    width rem(30)
    height rem(30)
    display inline-block
    background url(../images/icon_18.png) no-repeat
    background-size 100% 100%
    margin 21px 25px -18px 30px
  input
    width rem(255)
    height rem(22)
    background #575757
    border none
    outline none
#login_username::-webkit-input-placeholder{
  color: #6b6b6b;
  font-size: rem(20);
}
.login_password
  width rem(364)
  height rem(50)
  background-color #575757
  margin 0 auto
  border 1px solid #606060
  border-radius rem(5)
  input
    width rem(255)
    height rem(22)
    background #575757
    margin-top 22px
    margin-left .4rem
    border none
    outline none
  em
    float right
    width rem(20)
    height rem(15)
    background url(../images/icon_19.png) no-repeat
    background-size 100% 100%
    margin  30px 30px 0 0
#login_password::-webkit-input-placeholder{
  color: #6b6b6b;
  font-size: rem(20);
}
.login_btn
  width 14rem
  height 1.923076923076923rem
  background-color: #a2a2a2
  line-height 1.923076923076923rem
  font-size 0.846153846153846rem
  text-align center
  color #fff
  border-radius 0.192307692307692rem
  margin 0 auto
  margin-top 0.5rem
#prompt
  display none
  position fixed
  top 35%
  left 20%
  width rem(220)
  height rem(80)
  border-radius rem(10)
  text-align center
  color white
  line-height rem(80)
  font-size rem(15)
  background-color rgba(0,0,0,.6)